#navMain{
	border-radius:0px;
}
#Cont01{
	background-color:#fff;
	margin-top:-20px;
}
#SBh2{
	padding-bottom:6px;
}
#settingsBtn{
	float:right; 
	margin-top:-47px;
}
#Sno{
	width:30%;
	margin-left:200px;
	margin-top:-45px;
	margin-bottom:13px;
}
#Box01{
	background-color:#fff;
	padding-top:10px;
	margin-top:10px;
}
.upBtn1{
	border-radius:0px;
	margin: 2px;
}
#upBtn2{
	border-radius:0px;
	margin-top:-60px;
	margin-left:5px;
}
.SwiID{
	width:100%;
}
.SD{
	width:100%;
	margin-top:15px;
	border-color:#ccc;
	border-radius:5px;
	padding:10px;
}
#StoryBtn1{
	border-radius:0px;
	margin-top:10px;
	margin-bottom:13px;
	background-color:#333;
	color:#fff;
}
#StoryBtn2{
	border-radius:0px;
	float:right;
	margin-right:25px;
	margin-top:10px;
	background-color:#333;
	color:#fff;	
}
#upBtn3{
	border-radius:0px;
	margin-left:250px;
	margin-top:-60px;
}
#upBtn4{
	border-radius:0px;
	margin-top:-60px;
	margin-left:5px;
}
#upBtn5{
	border-radius:0px;
	margin-top:-60px;
	margin-left:240px;
  background: -webkit-linear-gradient(-50deg, rgb(43, 140, 128), rgb(64, 168, 78));
  background: linear-gradient(-50deg, rgb(43, 140, 128), rgb(64, 168, 78));
	color:#fff;
	border-radius:50px;
}

.empty-cards {
	background: #ededed;
    margin-left: -5px;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 25px;
}
.estimated-cards {
	margin-left: -5px;
    min-height: 200px;
}
.BOXdnd02{
	text-align: center;
	padding: 10px;	
	margin-bottom: 20px;
}
#pname{
	padding-top:135px;
	text-align:center;
	
}
.sideBox1{
	background-color:#fff;
	padding-top:10px;
	margin-top:10px;
	height:110px;
}
.sideBox2{
	background-color:#fff;
	padding-top:10px;
	margin-top:10px;
}
#pb{
	margin-top:20px;
}

.put-right {
    float: right;
    font-size: 15px;
}
.story-desc {
    line-height: 25px;
    font-size: 15px;
	font-weight: 200;
}

.handle-card-hover {
	cursor: pointer;
}

.inline-block {
	display: inline-block;
}

.handle-card-hover:hover {
	transform: scale(1.3);
}


