<div class="container-fluid" id="Cont01">
  <h3 id="SBh2">Scoreboard</h3>
  <input type="text" class="form-control" id="Sno" placeholder="Enter Release/Sprint no.">
  <button class="btn btn-default" id="settingsBtn"><span class="glyphicon glyphicon-cog"></span></button>
</div>

<div class="container-fluid" id="cont001">
  <div class="row">
    <div class="col-sm-9">
      <div id="Box01">
        <div class="row">
          <div class="col-md-6">
            <h4>Story Details</h4>
          </div>
          <div class="col-md-6">
            <button type="button" *ngIf="isOSIOReady" class="btn btn-primary pull-right upBtn1">Get story from OSIO</button>
            <button type="button" *ngIf="isCreator" class="btn btn-primary pull-right upBtn1" (click)="addNewUserStory()">Add new story</button>
          </div>
        </div>
        <input type="text" class="form-control SwiID" [readonly]="true" placeholder="Story or Work-item ID" [(ngModel)]="userStoryInfo.storyDetail">
        <textarea class="SD" [readonly]="true" placeholder="Story Description..." rows="4" cols="50" [(ngModel)]="userStoryInfo.storyDesp"></textarea>
        <button type="button" *ngIf="isOSIOReady" class="btn btn-default" id="StoryBtn1" role="button"><< Previous Story</button>
        <button type="button" *ngIf="isOSIOReady" class="btn btn-default" id="StoryBtn2" role="button">Next Story >></button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="container-fluid">
        <div class="sideBox1">
          <h4>Velocity</h4>

          <div class="progress" id="pb">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
        </div>
      </div>




      <div class="container-fluid">
        <div class="sideBox2">


          <div class="panel-group" id="accordion">
            <div class="panel panel-default" style="border-radius:0px;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Story 1 <span style="float:right;"><b>03</b></span></a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">This is Story 1</div>
              </div>
            </div>
            <div class="panel panel-default" style="border-radius:0px;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Story 2 <span style="float:right;"><b>07</b></span></a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  This is Story 2
                </div>
              </div>
            </div>
            <div class="panel panel-default" style="border-radius:0px;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Story 3 <span style="float:right;"><b>02</b></span></a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  This is Story 3
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="cont002">
  <div class="row">
    <div class="col-sm-9">
      <div id="Box01">
        <h4>Active Members/Players</h4>
        <button (click)="flipEstimates()" type="button" *ngIf="isCreator" class="btn btn-primary" id="upBtn3" role="button">Flip cards</button>
        <button type="button" *ngIf="isCreator" class="btn btn-primary" id="upBtn4" role="button">Resest card</button>
        <a href="" class="btn btn-Default" id="upBtn5">Average score : 6</a>

        <!-- Main Starts here -->
        <div *ngIf="!emptyCards" class="BOXdnd01">
          <card [card]="card.card" *ngFor="let card of estimatedCards"></card>
        </div>

        <div *ngIf="emptyCards" class="BOXdnd01">
          Players' estimated cards appear here!
        </div>

        <div class="BOXdnd02">
          <card (click)="handleCardClick(card)" [card]="card" *ngFor="let card of cards"></card>
        </div>

        <!-- Main Ends here -->
      </div>
    </div>
    <div class="col-sm-3">


    </div>
  </div>
</div>


<!-- Modal template -->

<modal #userStoryModal title="User Story" modalClass="modal-md">
    <modal-header>
    </modal-header>
    <modal-content>
      <input type="text" class="form-control SwiID" placeholder="Story or Work-item ID" [(ngModel)]="userStoryInfo.storyDetail">
      <textarea class="SD" placeholder="Story Description..." rows="4" cols="50" [(ngModel)]="userStoryInfo.storyDesp"></textarea>
    </modal-content>
    <modal-footer>
       <button type="button" class="btn btn-primary" role="button">Submit</button>
    </modal-footer>
</modal>