<div class="container game-body">
  <div class="" id="Cont01">
    <h3 id="SBh2">
      <span>{{player && player.gameName}}</span> - Scoreboard
      <span class="put-right">Welcome, {{player && player.nickName}}</span>
    </h3>
    <!--<input type="text" class="form-control" id="Sno" placeholder="Enter Release/Sprint no.">
  <button class="btn btn-default" id="settingsBtn"><span class="glyphicon glyphicon-cog"></span></button>-->
  </div>

  <div class="" id="cont001">
    <div class="row">
      <div class="col-sm-9">
        <div id="Box01">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <button type="button" *ngIf="isOSIOReady" class="btn btn-primary pull-right upBtn1">Get story from OSIO</button>
              <button type="button" *ngIf="isCreator" class="btn btn-primary pull-right upBtn1" (click)="addNewUserStory()">Add new story</button>
            </div>
          </div>
          <section *ngIf="storySelected">
            <h2 class="story-title"><span *ngIf="alreadyEstimated">[{{estimatedValue && estimatedValue}}]</span>{{userStoryInfo && userStoryInfo.storyDetail}}</h2>
            <p class="story-desc">{{userStoryInfo && userStoryInfo.storyDesc}}</p>
          </section><button type="button" *ngIf="isOSIOReady" class="btn btn-default" id="StoryBtn1" role="button"><< Previous Story</button>
          <button type="button" *ngIf="isOSIOReady" class="btn btn-default" id="StoryBtn2" role="button">Next Story >></button>
        </div>
      </div>
      <div class="col-sm-3">
        <!--<div class="">
          <div class="sideBox1">
            <h4>Velocity</h4>

            <div class="progress" id="pb">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span class="sr-only">70% Complete</span>
              </div>
            </div>
          </div>
        </div>-->




        <div class="">
          <div class="sideBox2">
            <div *ngIf="stories && stories.length > 0">
              <story-snippet (click)="selectedStory(story)" [storySnippet]="story && story" *ngFor="let story of stories"></story-snippet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="" id="cont002">
    <div class="row">
      <div class="col-sm-9">
        <div *ngIf="storySelected">
          <div *ngIf="!alreadyEstimated" id="Box01">
            <h4>Active Members/Players</h4>
            <button (click)="flipEstimates()" type="button" *ngIf="isCreator && !emptyCards" class="btn btn-primary" id="upBtn3" role="button">Flip cards</button>

            <!-- Main Starts here -->
            <div *ngIf="!emptyCards" class="estimated-cards">
              <card (click)="finalizeEstimates(card)" [card]="card.card" *ngFor="let card of estimatedCards"></card>
            </div>

            <div *ngIf="emptyCards" class="empty-cards">
              Players' estimated cards appear here!
            </div>

            <div class="BOXdnd02">
              <card (click)="handleCardClick(card)" [card]="card" *ngFor="let card of cards"></card>
            </div>

            <!-- Main Ends here -->
          </div>
          <div *ngIf="alreadyEstimated">
            <div class="col-xs-12 already-estimated story-desc"><u>This user story is estimated</u></div>
          </div>
        </div>
        <div *ngIf="!storySelected">

          <div *ngIf="(!stories || stories.length === 0) && isCreator" class="empty-cards">
            Please add a user story to start.
            <!--<button type="button" *ngIf="isCreator" class="btn btn-primary pull-right upBtn1" (click)="addNewUserStory()">Add new story</button>-->
          </div>

          <div *ngIf="stories && stories.length > 0">
            <story-snippet (click)="selectedStory(story)" [storySnippet]="story && story" *ngFor="let story of stories"></story-snippet>
          </div>
        </div>
      </div>
      <div class="col-sm-3">


      </div>
    </div>
  </div>
</div>

<!-- Modal template -->

<modal #userStoryModal title="User Story" modalClass="modal-md">
  <modal-header>
  </modal-header>
  <modal-content>
    <input type="text" class="form-control SwiID" placeholder="Story or Work-item ID" [(ngModel)]="userStoryEntry.storyDetail">
    <textarea class="SD" placeholder="Story Description..." rows="4" cols="50" [(ngModel)]="userStoryEntry.storyDesc"></textarea>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="userStorySubmit()" role="button">Submit</button>
  </modal-footer>
</modal>
