.estimation-container {
    display: inline-block;
    width: 100px;
    height: 170px;
    text-align: center;
    margin: 5px;
}

.estimation-card {
    width: 100%;
    height: 146px;
    font-size: 45px;
    vertical-align: middle;
    line-height: 146px;
}

.player-name {
    font-size: 15px;
}

.visible-card {
    color: #fff;
    box-shadow: 6px 6px 8px 1px #999;

}

.hidden-card {
    background: repeating-linear-gradient(
    45deg,
    #d4d4d6,
    #d4d4d6 10px,
    #8c8c8e 10px,
    #8c8c8e 20px
    );
}

.current-card {
    transform: scale(1.1);
}
