#Box{
	background-color:#fff;
	height:350px;
}
#nickN{
	padding-left:15px;
	padding-top:15px;	
	padding-bottom:15px;
	padding-right:40px;
	margin-top:50px;
	margin-left:68px;

}
#OptionPlayer{
	width:120%;
	margin-top:50px;
}
#JoinGame{
	margin-left:68px;
	margin-top:20px;
}
#egi{
	padding-left:15px;
	padding-top:15px;	
	padding-bottom:15px;
	padding-right:40px;
	margin-top:15px;
	margin-left:68px;
}
#jtgbtn{
	margin-top:15px;
	margin-left:68px;
}
#sgsubmitBtn{
	margin-top:30px;
	margin-left:180px;
	border-radius:0px;
	padding-left:50px;
	padding-right:50px;
}
#BtnHIW{
		margin-left:215px;
		margin-top:20px;
		border:none;
		outline:none;
}
#paraHide{
	padding-left:30px;
	background-color:#fff;
	padding-bottom:20px;
	padding-top:20px;
	padding-right:30px;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.login-modal {
    width: 30%;
    margin: 0 auto;
    background: rgba(255,255,255,0.5);
	transform: translate(0, 30%);
    position: relative;
	padding-bottom: 10px;
	z-index: 9;
}

.wrapper:before {
	content: ' ';
    margin: 0;
    padding: 0;
    left: 0px;
    top: 50px;
	bottom: 0;
	right: 0;
    position: absolute;
    background: url(/assets/scrum.jpg);
}
