<div class="container">
  
  <div class="row">
  <div class="col-sm-3">&nbsp;</div>
  <div class="col-sm-6">
      <div class="row">
          <div class="col-md-12">
            <h1>Welcome to Scrumola</h1>
            <form name="form" [formGroup]="form" (ngSubmit)="onLoginSubmit()">
              <div class="form-group">
                <label for="fullname">Your name (what other team members will see)</label>
                <input type="text" class="form-control" id="nickName" formControlName="nickName" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="name">Game name</label>
                <input type="text" class="form-control"id="gameName" formControlName="gameName"  placeholder="Enter game name">
                <p class="help-block">For example: 'Fabric project'</p>
              </div>
              <div class="form-group">
                  <label for="description">Player</label>
                  <select class="form-control">
                    <option id="op01">Join as a creator</option>
                    <option id="op02">Join as a player</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="description">Game description (optional)</label>
                  <textarea class="form-control" rows="3" id="description" placeholder="Enter game description"></textarea>
              </div>
              <div class="col-md-12 text-center"> 
                  <button id="create" type="submit" class="btn btn-success" [disabled]="!form.valid" >Start game</button> 
              </div>
            </form>
          </div>
        </div>