<div class="container">
  
  <div class="row">
  <div class="col-sm-3">&nbsp;</div>
  <div class="col-sm-6">
  <div id="Box">
  <div id="HeadTitle">
  <h1>Welcome to Scrumola</h1>
  </div>  
  <form class="form-inline" action="gamePage.html">
      <div class="form-group">
        <input type="text" class="form-control" id="nickN" placeholder="Enter your nickname">
      </div>
      <div class="form-group">
    <select class="form-control" id="OptionPlayer">
      <option id="op01">Join as a player</option>
      <option id="op02">Join as a creator</option>
    </select>
  </div>
   <div class="form-group">
   <div class="input-group">
      <input type="text" class="form-control" id="egi" placeholder="Enter game name/ID">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" id="jtgbtn">Join this game</button>
      </div>
    </div>
   </div>
   <button type="submit" class="btn btn-primary" id="sgsubmitBtn" (click)="onLoginSubmit();">Start game</button>
    </form>
  <button type="button" class="btn btn-link" id="BtnHIW" data-toggle="collapse" data-target="#demo">How it works?</button>
    <div id="demo" class="collapse" id="collapseDiv">
      <p id="paraHide" >Game description will be here.Game description will be here.Game description will be here.Game description will be here.
    Game description will be here.Game description will be here.Game description will be here.Game description will be here.
    Game description will be here.Game description will be here.</p>
      </div>
  
  </div>
  
  </div>
  <div class="col-sm-3">&nbsp;</div>
  </div>
  </div>